body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

#container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

        /* Pregunta: ¿Qué propiedad CSS se usa para cambiar el color de fondo de un elemento? */
        /* Background-color */
        
        /* Pregunta: ¿Cómo se centra un div dentro de su contenedor padre horizontalmente? */
        /* margin: auto: */
        
        /* Pregunta: ¿Cuál es la diferencia entre 'id' y 'class' en CSS? */
        /* id: Se utiliza para identificar de manera única un solo elemento en la página.
           class: Se utiliza para aplicar estilos a múltiples elementos que comparten características comunes.  */
        
        /* Pregunta: ¿Cuál es la función de 'document.getElementById' en JavaScript? */
        /* seleccionar un elemento del documento por medio del valor del atributo id que se le haya asignado. */
        
        /* Pregunta: ¿Qué hace 'prompt' y cómo se puede usar en lugar de 'alert'? */
        /* La función prompt en JavaScript se utiliza para mostrar un cuadro de diálogo que solicita al usuario que ingrese un valor. 
        A diferencia de alert, que solo muestra un mensaje, prompt permite al usuario ingresar datos y devuelve ese valor para que el programa 
        lo utilice. */
        
        /* Pregunta: ¿Cuál es el propósito de la instrucción 'if' en este fragmento de código? */
        /* La instrucción if en este fragmento de código se utiliza para verificar si la respuesta ingresada por el usuario es “paris” 
        (sin importar mayúsculas o minúsculas).  */
        
        /* Pregunta: ¿Cómo se puede manipular el DOM usando JavaScript para cambiar el contenido de un elemento? */
        /* Seleccionar el elemento que deseas modificar.
        Cambiar el contenido del elemento seleccionado. */
